{% extends 'core/base.html' %} {% block content %}

<div class="container mt-4">
<div class="row">
    <div class="col-md-10">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'add_searchsubject' %}">Add Subject</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Upload File</li>
    </ol>
  </nav>
  </div>
  <div class="col-md-2">
    <a href="{% url 'download_fileupload_template' 'addsubject' %}"  class="btn btn-primary">Get Template</a>
  </div>
</div>

  <div class="card">
    <div class="card-body">
      <form enctype="multipart/form-data" action="{% url 'bulkaddsubject' %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">File</label>
          <input
            type="file"
            class="form-control form-control-sm"
            name="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
            required="true"
            />
        </div>
        
        <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
